.ws-background {
  background: #f0e5c6;
  background-image: url("/src/assets/images/textured-paper.png");
  color: black;
  width: 1000px;
  min-height: 1400px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ws-background.lower-brightness {
  filter: brightness(0.8);
}

/* HEADER */

.ws-header {
  color: white;
  text-shadow: 3px 3px 3px #0008;
  font-weight: bold;
  display: flex;
}

.ws-header-as {
  color: white;
  text-shadow: 3px 3px 3px #0008;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.ws-header-container {
  margin: 30px 0;
  position: absolute;
  width: 800px;
  left: 150px;
  height: 140px;
  text-transform: uppercase;
}

.ws-header-container-as {
  margin: 30px 0;
  width: 800px;
  left: 150px;
  height: 140px;
  text-transform: uppercase;
}

.ws-header-title {
  display: flex;
}

.ws-header-title-side {
  padding: 0 10px;
  font-size: 24px;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  font-variant: small-caps;
  width: 80px;
}

.ws-header-point {
  font-size: 30px;
  font-variant: normal;
}

.ws-header-title-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ws-header-name {
  font-size: 50px;
}

/* CHARACTERISTICS */

.ws-char-wrapper {
  background: url("/src/assets/images/AoS4_profile1.webp");
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: white;
  z-index: 1;
  position: relative;
}

.ws-char-wrapper.ward {
  background: url("/src/assets/images/AoS4_profile_with_FNP1.png");
}

.ws-char-ward {
  position: absolute;
  left: 166px;
  top: 18px;
  font-size: 26px;
}

.ws-char-wrapper div {
  height: 40px;
}

.ws-char-wrapper-top {
  margin-top: 40px;
}

.ws-char-wrapper-mid {
  display: flex;
}

.ws-char-wrapper-mid-left {
  flex: 1;
  text-align: right;
  margin-right: 40px;
}

.ws-char-wrapper-mid-right {
  flex: 1;
  text-align: left;
}

/* ATTACKS */

.ws-attacks {
  font-size: 24px;
  border-collapse: collapse;
  border-bottom: 2px solid var(--faction-main-color);
  margin-top: 20px;
}

.ws-attacks th,
.ws-attacks td {
  padding: 5px;
}

.ws-attacks tr th:first-child {
  width: 300px;
}

.ws-attacks .mid {
  width: 40px;
}

.ws-attacks tr {
  background-color: #fff;
}

.ws-attacks .ws-attacks-weapon:nth-child(odd) {
  background-color: #ddd;
}

.ws-attacks th {
  background-color: var(--faction-main-color);
  color: white;
  font-weight: bold;
}

.ws-attacks td {
  border-right: 1px solid var(--faction-main-color);
}

.ws-attacks tr td:last-child {
  border-right: none;
}

/* ABLITIES */

.ws-abilities {
  flex: 1;
  flex-wrap: wrap;
  column-count: 2;
  column-gap: 16px;
  margin-top: 20px;
}

.ws-ability-wrapper {
  break-inside: avoid;
  margin: 0 10px 20px;
  position: relative;
  padding-top: 15px;
}

.ws-ability-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid black;
  border-top: none;
  font-size: 24px;
  background-color: #fff;
}

.ws-ability-timing-torn {
  width: 442px;
  margin-left: -12px;
}

.ws-ability-timing {
  color: #fff;
  font-size: 24 px;
  padding: 3px 5px;
  padding-right: 30px;
  font-weight: bold;
  display: flex;
}

.ws-ability-timing > img {
  height: 20px;
  margin-right: 5px;
}

.ws-cost {
  position: absolute;
  background-image: url("/src/assets/images/abCommandPoints1.png");
  height: 56px;
  width: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 34px;
  left: 398px;
  top: 2px;
}

.ws-cost.spell {
  background-image: url("/src/assets/images/abSpellPoints1.png");
  color: white;
  left: 384px;
  width: 57px;
}

.ws-cost.prayer {
  background-image: url("/src/assets/images/abPrayerPoints.png");
  color: white;
  left: 394px;
  width: 54px;
}

.ws-cost.blood-tithe {
  background-image: url("/src/assets/images/abBloodTithePoints11.png");
  color: white;
  left: 394px;
  width: 54px;
}

.ws-ability-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.ws-ability-body > div:not(:first-child) {
  margin-top: 10px;
}

.ws-ability-name {
  font-variant: small-caps;
}

.ws-ability-keywords-container {
  display: flex;
  border-top: 2px solid #000;
  font-weight: bold;
}

.ws-ability-keywords-container > div {
  padding: 5px 10px;
}

.ws-ability-keywords-title {
  color: white;
  font-variant: small-caps;
}

/* KEYWORDS */

.ws-keywords-container {
  border-collapse: collapse;
  border: 2px solid var(--faction-main-color);
  background-color: #fff;
  font-size: 24px;
  font-variant: small-caps;
  font-weight: bold;
  margin-top: 20px;
}

.ws-keywords-container th {
  background-color: var(--faction-main-color);
  color: #fff;
}

.ws-keywords-container td {
  border: 2px solid var(--faction-main-color);
}

/* COLORS */

.black {
  background-color: var(--ability-black);
}

.black-border {
  border-color: var(--ability-black);
}

.yellow {
  background-color: var(--ability-yellow);
}

.yellow-border {
  border-color: var(--ability-yellow);
}

.gray {
  background-color: var(--ability-gray);
}

.gray-border {
  border-color: var(--ability-gray);
}

.blue {
  background-color: var(--ability-blue);
}

.blue-border {
  border-color: var(--ability-blue);
}

.orange {
  background-color: var(--ability-orange);
}

.orange-border {
  border-color: var(--ability-orange);
}

.red {
  background-color: var(--ability-red);
}

.red-border {
  border-color: var(--ability-red);
}

.purple {
  background-color: var(--ability-purple);
}

.purple-border {
  border-color: var(--ability-purple);
}

.green {
  background-color: var(--ability-green);
}

.green-border {
  border-color: var(--ability-green);
}
