body {
  margin: 0;
  color: #fff;
  font-family: "MinionPro-Regular", Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
  display: flex;
  justify-content: center;
  align-content: center;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  line-height: 1.1;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.controller {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.warscroll-container {
  overflow: auto;
}

.smallcaps {
  font-variant: small-caps;
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("./assets/fonts/MinionPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("./assets/fonts/MinionPro-Semibold.otf") format("opentype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "MinionPro-Regular";
  src: url("./assets/fonts/MinionPro-It.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --faction-main-color: #000;
  --faction-main-color-filter: none;

  --ability-black: #000;
  --ability-yellow: #76602b;
  --ability-gray: #606362;
  --ability-blue: #28435c;
  --ability-orange: #a34d14;
  --ability-red: #802022;
  --ability-purple: #5e4a79;
  --ability-green: #3d5b26;

  --ability-black-filter: none;
  --ability-yellow-filter: brightness(0) saturate(100%) invert(37%) sepia(55%)
    saturate(470%) hue-rotate(5deg) brightness(87%) contrast(87%);
  --ability-gray-filter: invert(41%) sepia(10%) saturate(80%) hue-rotate(109deg)
    brightness(91%) contrast(93%);
  --ability-blue-filter: brightness(0) saturate(100%) invert(22%) sepia(12%)
    saturate(2165%) hue-rotate(168deg) brightness(95%) contrast(87%);
  --ability-orange-filter: brightness(0) saturate(100%) invert(30%) sepia(91%)
    saturate(777%) hue-rotate(351deg) brightness(94%) contrast(93%);
  --ability-red-filter: brightness(0) saturate(100%) invert(16%) sepia(63%)
    saturate(2838%) hue-rotate(340deg) brightness(82%) contrast(92%);
  --ability-purple-filter: brightness(0) saturate(100%) invert(31%) sepia(15%)
    saturate(1525%) hue-rotate(223deg) brightness(89%) contrast(84%);
  --ability-green-filter: invert(29%) sepia(9%) saturate(2835%)
    hue-rotate(51deg) brightness(95%) contrast(84%);
}
